In [ ]:
!pip3 install face_recognition
from PIL import Image
import face_recognition
import pandas as pd
import numpy as np
from sortedcontainers import SortedSet

In [ ]:
roll_no = ['220001001', '220001002', '220001003', '220001004', '220001005', '220001006', '220001007', '220001008', '220001009', '220001010', '220001011', '220001012', '220001013', '220001014', '220001015', '220001016', '220001017', '220001018', '220001019', '220001020', '220001021', '220001022', '220001023', '220001024', '220001025', '220001026', '220001027', '220001028', '220001029', '220001031', '220001032', '220001033', '220001034', '220001035', '220001036', '220001037', '220001038', '220001039', '220001040', '220001041', '220001042', '220001043', '220001044', '220001045', '220001046', '220001047', '220001048', '220001049', '220001050', '220001051', '220001052', '220001053', '220001054', '220001055', '220001056', '220001057', '220001058', '220001059', '220001060', '220001061', '220001062', '220001063', '220001064', '220001065', '220001066', '220001067', '220001068', '220001069', '220001070', '220001071', '220001073', '220001074', '220001075', '220001076', '220001077', '220001078', '220001079', '220001080', '220001081', '220001082', '220002018', '220002029', '220002063', '220002081']
# you can also import the list of roll numbers from a file

In [ ]:
attendance = SortedSet()

In [ ]:
data = pd.read_csv("Features_faces.csv")
ref_face_encodings = data.iloc[:,:-1].values
name = data.iloc[:,-1].values

In [ ]:
gp_pic = face_recognition.load_image_file("26_10_23_middle_test.jpg")

face_locations = face_recognition.face_locations(gp_pic, number_of_times_to_upsample=2, model="cnn")
face_encodings = face_recognition.face_encodings(gp_pic, face_locations)

print("I found {} face(s) in this photograph.".format(len(face_locations)))
j=0
for face_location in face_locations:

    top, right, bottom, left = face_location
    face_image = gp_pic[top:bottom, left:right]
    pil_image = Image.fromarray(face_image)
    display(pil_image)
    curr_check =  face_encodings[j]
    j = j+1
    ind=0
    check = 100

    for i in range(len(ref_face_encodings)):

        results = face_recognition.face_distance([curr_check], ref_face_encodings[i])

        if(check>results):
            ind=i
            check = min(check,results)

    print(name[ind].split('-')[0],"is present..")
    print("________________________")
    attendance.add(name[ind].split('_')[0])

In [ ]:
data = {'roll number': roll_no, 'attendance': [1 if roll in attendance else 0 for roll in roll_no]}
df = pd.DataFrame(data)
Predicted_Attendance = df.iloc[:,-1].values
Roll_nos = df.iloc[:,0].values

In [ ]:
att = pd.read_csv("Attendance.csv")
att = att.drop(att.columns[0], axis=1)
att.fillna(0, inplace=True)
att.iloc[:, 3:] = att.iloc[:, 3:].applymap(lambda x: 1 if x == 0 else 0)
Actual_attendance = att.iloc[:,8]

<ipython-input-50-229c1ac8f933>:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  att.iloc[:, 3:] = att.iloc[:, 3:].applymap(lambda x: 1 if x == 0 else 0)

In [ ]:
print(att.to_string())

    Unnamed: 1                      CLASS NAME  23-Aug  28-Aug  30-Aug  6-Sep  13-Sep  11-Oct  16-Oct  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  Late  Excused absence  Unexcused absence
0    220001001                     AADISH JAIN     0.0       1       0      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
1    220001002                  ABHINAV GANGIL     0.0       1       0      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
2    220001003           ADITI ASHISH WEKHANDE     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
3    220001004                  ADITYA KSHITIZ     0.0       1       1      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
4    220001005            ADITYA SACHIN MASTUD     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
5    220001006                    ADITYA YADAV     0.0       1       1      1       1       1       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
6    220001007               AMAN PRATAP SINGH     0.0       1       1      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
7    220001008                     AMIT TIWARI     0.0       1       1      1       0       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
8    220001009                  ANIRUDH GAUTAM     0.0       1       1      1       0       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
9    220001010             ANNAMSHETTI SUMANTH     0.0       1       1      1       1       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
10   220001011          ARAVAPALLI PAVAN KUMAR     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
11   220001012           ATHARVA ANIL SANGAWAR     0.0       1       1      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
12   220001013                  ATHARVA NANOTI     0.0       1       1      1       1       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
13   220001014                   AVIRAL SHARMA     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
14   220001015                 AYITHA TRIBUVAN     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
15   220001016              BALABHADRA RITHVIK     0.0       1       1      1       1       1       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
16   220001017                   BHARAT KAURAV     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
17   220001018  BHAVANAM SAI PAVAN KUMAR REDDY     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
18   220001019                   BHUKYA HAVISH     1.0       1       0      0       0       1       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
19   220001020          CHANDEKAR RIDDHI UMESH     0.0       1       0      0       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
20   220001021                CHERUPALLY VINAY     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
21   220001022               CHIRANJIVI KESHAV     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
22   220001023           DARBHA KALYANA SRIRAM     0.0       1       1      1       0       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
23   220001024                   DARSHIL PATEL     0.0       1       1      1       1       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
24   220001025                  DEBASISH PADHY     0.0       1       1      1       1       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
25   220001026                    DEEPAK YADAV     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
26   220001027               DEVANSHI CHHATBAR     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
27   220001028                  EDULA BHOOMIKA     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
28   220001029                 GARIMA UPADHYAY     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
29   220001031           GUNTUKU RISHWANTH SAI     1.0       1       0      0       0       0       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
30   220001032                   HITESH MAURYA     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
31   220001033                     JAY SOLANKI     1.0       1       1      1       0       1       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
32   220001034    JONNALAGADDA SAI PRANAY DEEP     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
33   220001035         KALWAGHE PRANAV SANTOSH     0.0       1       1      1       0       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
34   220001036             KAMBAM SAI RUCHITHA     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
35   220001037                     KANAK NAGAR     0.0       1       0      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
36   220001038    KAPUGANTY VENKATA SATYA TEJA     0.0       1       1      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
37   220001039           KARAN JALINDAR JADHAV     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
38   220001040           KODUDULA NIKETH REDDY     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
39   220001041                KONETI TEJASWINI     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
40   220001042                           LALIT     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
41   220001043                         MADAN P     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
42   220001044        MALLAVARAPU SAI VARSHITH     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
43   220001045                      MISHA JAIN     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
44   220001046                    MUDE ANKITHA     1.0       1       1      0       0       0       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
45   220001047               MUDE HEMA DEEPIKA     1.0       1       1      0       0       1       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
46   220001048                          MUSKAN     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
47   220001049            NAREN KUMAR SAI KAJA     0.0       1       1      1       1       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
48   220001050                        NEERUPAM     1.0       0       0      0       0       0       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
49   220001051            NIKITA SANJAY TAYADE     0.0       1       1      0       1       0       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
50   220001052                  P C UMA MAHESH     0.0       1       1      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
51   220001053             PANCHANGAM AKHILESH     0.0       1       1      1       1       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
52   220001054            PANTHAM RAJA KRISHNA     0.0       1       1      1       0       1       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
53   220001055               PAPPALA TEJASWINI     0.0       1       1      0       0       1       0            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1
54   220001056                    PARAM BANSAL     0.0       1       0      1       0       0       1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1            1     1                1                  1

In [ ]:
concatenated_array = np.column_stack((Roll_nos, Actual_attendance, Predicted_Attendance))
concatenated_array

array([['220001001', 1, 1],
       ['220001002', 1, 1],
       ['220001003', 1, 1],
       ['220001004', 1, 1],
       ['220001005', 1, 1],
       ['220001006', 0, 0],
       ['220001007', 1, 0],
       ['220001008', 1, 1],
       ['220001009', 1, 1],
       ['220001010', 1, 1],
       ['220001011', 1, 1],
       ['220001012', 1, 0],
       ['220001013', 1, 1],
       ['220001014', 1, 1],
       ['220001015', 1, 1],
       ['220001016', 0, 0],
       ['220001017', 1, 1],
       ['220001018', 1, 1],
       ['220001019', 0, 0],
       ['220001020', 1, 1],
       ['220001021', 1, 0],
       ['220001022', 1, 1],
       ['220001023', 1, 1],
       ['220001024', 1, 1],
       ['220001025', 1, 1],
       ['220001026', 1, 1],
       ['220001027', 1, 1],
       ['220001028', 1, 1],
       ['220001029', 1, 0],
       ['220001031', 0, 0],
       ['220001032', 1, 0],
       ['220001033', 0, 0],
       ['220001034', 1, 1],
       ['220001035', 1, 1],
       ['220001036', 1, 1],
       ['220001037', 1, 1],
       ['220001038', 1, 1],
       ['220001039', 1, 0],
       ['220001040', 1, 1],
       ['220001041', 1, 1],
       ['220001042', 1, 1],
       ['220001043', 1, 1],
       ['220001044', 1, 1],
       ['220001045', 1, 1],
       ['220001046', 0, 0],
       ['220001047', 0, 0],
       ['220001048', 1, 1],
       ['220001049', 1, 1],
       ['220001050', 0, 0],
       ['220001051', 0, 0],
       ['220001052', 1, 0],
       ['220001053', 1, 1],
       ['220001054', 1, 0],
       ['220001055', 0, 0],
       ['220001056', 1, 1],
       ['220001057', 1, 1],
       ['220001058', 1, 1],
       ['220001059', 0, 0],
       ['220001060', 1, 1],
       ['220001061', 0, 1],
       ['220001062', 1, 0],
       ['220001063', 1, 1],
       ['220001064', 1, 1],
       ['220001065', 1, 1],
       ['220001066', 0, 1],
       ['220001067', 1, 0],
       ['220001068', 1, 1],
       ['220001069', 1, 1],
       ['220001070', 1, 1],
       ['220001071', 1, 0],
       ['220001073', 1, 0],
       ['220001074', 1, 1],
       ['220001075', 1, 1],
       ['220001076', 1, 1],
       ['220001077', 1, 0],
       ['220001078', 1, 1],
       ['220001079', 1, 1],
       ['220001080', 1, 1],
       ['220001081', 1, 1],
       ['220001082', 1, 1],
       ['220002018', 1, 1],
       ['220002029', 1, 1],
       ['220002063', 1, 1],
       ['220002081', 1, 1]], dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Actual_attendance, Predicted_Attendance)
print(accuracy*100)

82.14285714285714

In [ ]:
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(Actual_attendance, Predicted_Attendance)
confusion

array([[11,  2],
       [13, 58]])